[Unit]
Description=Foo

[Service]
WorkingDirectory=/home/rakibul/Workstation/redmine
ExecStart=/home/rakibul/Workstation/redmine/vN
Type=simple

[Install]
WantedBy=multi-user.target